:root {
    font-family: 'Montserrat', sans-serif;
	/*
	font-weight: 500;
	font-weight: 700;
	*/
}

/* reset */
h1, h2, h3, ul, li{
	margin: 0;
	padding: 0;
}

/* content */
body {
	background-color: #673399;
}

.wrapper {
	width: 1080px;
	margin: 100px auto;
}

/* header */
.header-portfolio {
	display: flex;
	align-items: center;
}

.header-portfolio h1 {
	/* width: 282px; */
	width: 26%;
	font-size: 40px;
	color: white;
	letter-spacing: -0.013em;
}

.header-portfolio h1 span {
	box-shadow: inset 0 -20px 0 #ff4500;
	z-index: -1;
}

.header-line {
	background-color: #bd8fe8;
	width: 83px;
	height: 2px;
	margin-top: 9px;
}

.header-portfolio p {
	width: 450px;
	font-size: 14px;
	color: #bd8fe8;
	line-height: 1.6em;
	margin: 10px 0 0 27px;
}

/* main */
.main-portfolio {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 100px 0;
}

.main-sec-list {
	height: 163px;
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	overflow: hidden;
}
.main-sec-list.reverse {
	display: flex;
	flex-direction: row-reverse;
}

.main-sec-list:last-child {
	margin-bottom: 0;
}

.main-tit-img {
	width: 26%;
	position: relative;
}

.main-tit-img h2 {
	font-size: 30px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.main-tit-img img {
	width: 100%;
	vertical-align: top;
	object-fit: cover;
	opacity: 50%;
}

.check-list {
	flex-grow: 1; /* flex-basis의 값에서 더 늘어나도 되는지 지정하는 값 */
}

.check-list ul {
	padding: 24px;
	background-color: white;
}

.check-list h3 {
	font-size: 18px;
	margin-bottom: 25px;
	color: #673399;
}

.check-list li {
	list-style: none;
	font-size: 14px;
	padding-bottom: 12px;
}

.check-list li:last-child {
	padding-bottom: 0;
}

.check-list li::before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #bd8fe8;
	border-radius: 50%;
	margin-right: 10px;
}