body {
  margin: 0;
}

:root {
    font-family: 'Montserrat', sans-serif;
  	font-weight: 500;
}

.wrapper {
  border: 10px solid red;
  width: 1080px;
}
.section {
  background-color: rebeccapurple;
  color: white;
  padding: 100px 0;
}
