/* animation */
@keyframes ani-ear-left {
    from {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(10deg) translate(-5px);
    }
}

@keyframes ani-ear-right {
    from {
        transform: rotate(-20deg);
    }
    to {
        transform: rotate(-10deg) translate(5px);
    }
}

@keyframes ani-face-wrap {
    to {
        transform: rotate(-15deg);
    }
}
@keyframes ani-face {
    to {
        transform: rotate(-5deg);
    }
}

@keyframes ani-mouth-top {
    to {
        transform: rotate(1deg) translate(5px);
    }
}
@keyframes ani-mouth {
    to {
        transform: scaleY(1.5);
    }
}

/* setting */
:root {
    --cheek: #F78AD4;
}

/* reset */
body {
    margin: 0;
    padding: 0;
    background-color: pink;
}

/* design */
*,
*::after,
*::before {
    box-sizing: border-box;
}
.jadu {
    position: relative;
    top: 100px;
    margin: 50px auto;
    width: 600px;
    height: 500px;
    animation: face 3s infinite alternate;
}

/******************* 귀 *******************/
.ear {
    position: absolute;
    top: 0;
    width: 120px;
    height: 160px;
    background-color: white;
}
.ear.left {
    top: 250px;
    left: 30px;
    border-radius: 48% 52% 56% 44%;
    animation: ani-ear-left 1s infinite alternate;
}
.ear.right {
    top: 250px;
    right: 30px;
    border-radius: 52% 48% 44% 56%;
    animation: ani-ear-right 1s infinite alternate;
}

.ear-top-left .ear-curl,
.ear-top-right .ear-curl {
    position: absolute;
    top: 220px;
    border-radius: 50%;
    border: 10px solid #000;
    background: white;
    animation: ani-ear-left 1s infinite alternate;

}
.ear-top-right .ear-curl {
    animation: ani-ear-right 1s infinite alternate;
}
.ear-curl.ecurl1 {
    width: 100px;
    height: 80px;
}
.ear-curl.ecurl1.left {
    left: 60px;
}
.ear-curl.ecurl1.right{
    right: 60px;
}

.ear-curl.ecurl2 {
    top: 260px;
    width: 50px;
    height: 50px;
}
.ear-curl.ecurl2.left {
    left: 30px;
}
.ear-curl.ecurl2.right {
    right: 30px;
}

.ear-curl.ecurl3 {
    top: 285px;
    width: 100px;
    height: 100px;
}
.ear-curl.ecurl3.left {
    left: 10px;
}
.ear-curl.ecurl3.right {
    right: 10px;
}

.ear-curl.ecurl4 {
    top: 350px;
    width: 50px;
    height: 60px;
}
.ear-curl.ecurl4.left {
    left: 20px;
}
.ear-curl.ecurl4.right {
    right: 20px;
}

.ear-curl.ecurl5 {
    top: 340px;
    width: 120px;
    height: 100px;
}
.ear-curl.ecurl5.left {
    left: 50px;
}
.ear-curl.ecurl5.right {
    right: 50px;
}

/******************* 얼굴 *******************/
.wrap-curl {
    position: absolute;
    top: 80px;
    left: 180px;
    width: 130px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #000;
    background: white;
    z-index: 1;
    animation: ani-face-wrap 1s infinite alternate;
}
.wrap-curl.wcurl1 {
    top: 130px;
    left: 125px;
    width: 120px;
    height: 100px;
}
.wrap-curl.wcurl2 {
    top: 185px;
    left: 80px;
    width: 140px;
    height: 180px;
}
.wrap-curl.wcurl3 {
    top: 300px;
    left: 70px;
    width: 120px;
    height: 120px;
}
.wrap-curl.wcurl4 {
    top: 380px;
    left: 130px;
    width: 100px;
    height: 100px;
}
.wrap-curl.wcurl5 {
    top: 430px;
    left: 195px;
    width: 130px;
    height: 80px;
}
.wrap-curl.wcurl6 {
    top: 430px;
    left: 260px;
    width: 120px;
    height: 80px;
}
.wrap-curl.wcurl7 {
    top: 420px;
    left: 340px;
    width: 80px;
    height: 80px;
}
.wrap-curl.wcurl8 {
    top: 300px;
    left: 340px;
    width: 140px;
    height: 180px;
}
.wrap-curl.wcurl9 {
    top: 230px;
    left: 390px;
    width: 140px;
    height: 180px;
}
.wrap-curl.wcurl10 {
    top: 185px;
    left: 410px;
    width: 100px;
    height: 100px;
}
.wrap-curl.wcurl11 {
    top: 100px;
    left: 320px;
    width: 140px;
    height: 130px;
}
.wcurl11-2 {
    position: absolute;
    top: 165px;
    left: 465px;
    width: 8px;
    height: 25px;
    background: black;
    border-radius: 83% 17% 69% 31% / 90% 76% 24% 10%;
    transform: rotate(45deg);
}
.wrap-curl.wcurl12 {
    top: 70px;
    left: 270px;
    width: 100px;
    height: 100px;
}

.face {
    position: absolute;
    left: 100px;
    bottom: 0;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid white;
    background: white;
    z-index: 10;
}
.face-curl {
    position: absolute;
    top: 50px;
    border-radius: 50%;
    border: 10px solid #000;
    background: white;
}
.face-curl.curl1 {
    top: 80px;
    left: 50px;
    width: 70px;
    height: 80px;
}
.face-curl.curl2 {
    left: 100px;
    width: 80px;
    height: 120px;
    animation: ani-face 1s infinite alternate;
}
.face-curl.curl3 {
    top: 60px;
    left: 150px;
    width: 90px;
    height: 100px;
}
.face-curl.curl4 {
    left: 200px;
    width: 60px;
    height: 120px;
}
.face-curl.curl5 {
    left: 220px;
    width: 80px;
    height: 110px;
    animation: ani-face 1s infinite alternate;
}
.face-curl.curl6 {
    left: 270px;
    width: 50px;
    height: 100px;
    transform: rotate(-20deg);
    z-index: 2;
}
.face-top::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 40px;
    width: 300px;
    height: 100px;
    background: white;
    border-radius: 50%;
    z-index: 10;
}
.face-curl::before {
    content: '';
    position: absolute;
    top: -18px;
    left: -15px;
    width: 70px;
    height: 80px;
    background: white;
    border-radius: 50%;
    z-index: 1;
    /* border: 1px solid red; */
}
.face-curl.curl3::before {
    top: 0;
    left: -5px;
}

.face-curl.curl4::before {
    top: 9px;
    left: -15px;
}
.face-curl.curl5::before {
    top: 12px;
    left: -10px;
}
.face-curl.curl6::before {
    top: -20px;
    left: -10px;
    width: 50px;
    height: 100px;
}

/******************* 눈 *******************/
.eye {
    position: absolute;
    top: 160px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
}
.eye.left {
    left: 125px;
}
.eye.right {
    right: 125px;
    /* animation-duration: 0.5s;
    animation-name: blink;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform-origin: 353.5px 129px; */
}

/******************* 볼 *******************/
.cheek {
    position: absolute;
    top: 190px;
    width: 40px;
    height: 30px;
    background-color: var(--cheek);
    border-radius: 50%;
    animation: ani-cheek 1s infinite alternate;
}
.cheek.left {
    left: 60px;
}
.cheek.right {
    right: 60px;
}

/******************* 코,입 *******************/
.nose {
    position: absolute;
    top: 0;
    left: 90px;
    width: 40px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}
.nose-line {
    position: absolute;
    top: 25px;
    left: 15px;
    width: 10px;
    height: 30px;
    background-color: black;
}
.nose-mouth {
    position: absolute;
    top: 50px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 7px solid black;
    border-radius: 50%;
    background-color: var(--cheek);
    animation: ani-mouth 1s infinite alternate;
}

/******************* 입 *******************/
.mouth {
    position: absolute;
    top: 200px;
    left: 70px;
    width: 240px;
    height: 170px;
    border-radius: 50%;
    background: white;
}
.mouth-top {
    animation: ani-mouth-top 1s infinite alternate;
}
.mouth-curl {
    position: absolute;
    top: 195px;
    left: 100px;
    width: 70px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid #000;
    background: white;
}
.mouth-curl.mcurl2 {
    top: 215px;
    left: 50px;
    width: 100px;
    height: 120px;
}
.mouth-curl.mcurl3 {
    top: 265px;
    left: 70px;
    width: 100px;
    height: 100px;
}
.mouth-curl.mcurl4 {
    top: 320px;
    left: 110px;
    width: 60px;
    height: 60px;
}
.mouth-curl.mcurl5 {
    top: 300px;
    left: 150px;
    width: 90px;
    height: 90px;
} 
.mouth-curl.mcurl6 {
    top: 344px;
    left: 220px;
    width: 30px;
    height: 30px;
} 
.mouth-curl.mcurl7 {
    top: 270px;
    left: 215px;
    width: 100px;
    height: 100px;
} 
.mouth-curl.mcurl8 {
    top: 250px;
    left: 249px;
    width: 70px;
    height: 80px;
} 
.mouth-curl.mcurl9 {
    top: 205px;
    left: 215px;
    width: 100px;
    height: 100px;
} 
.mouth-curl.mcurl10 {
    top: 185px;
    left: 130px;
    width: 130px;
    height: 100px;
}